.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

/* Per-column content alignment: left or right */
.columns > div > div.column-align-left {
  text-align: left;
}

.columns > div > div.column-align-right {
  text-align: right;
}

/* Vertical alignment of content within each column (top, center, bottom) */
.columns > div > div {
  display: flex;
  flex-direction: column;
}

.columns-valign-top > div > div {
  justify-content: flex-start;
}

.columns-valign-center > div > div {
  justify-content: center;
}

.columns-valign-bottom > div > div {
  justify-content: flex-end;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
