/* Styled Text block – extends default text with variants */

/* Gold variant – text color only */
.styled-text.styled-text-gold {
  color: #ceb340;
}

.styled-text.styled-text-gold h1,
.styled-text.styled-text-gold h2,
.styled-text.styled-text-gold h3,
.styled-text.styled-text-gold h4,
.styled-text.styled-text-gold h5,
.styled-text.styled-text-gold h6,
.styled-text.styled-text-gold p,
.styled-text.styled-text-gold li,
.styled-text.styled-text-gold a:any-link {
  color: inherit;
}

/* CTA inside styled-text: use CTA styles, not gold */
.styled-text .cta,
.styled-text .cta a.button,
.styled-text .cta button.button {
  color: unset;
}
.styled-text .cta a.button.variant-1,
.styled-text .cta button.button.variant-1 {
  color: #318bda;
}
.styled-text .cta a.button.variant-1:hover,
.styled-text .cta a.button.variant-1:focus,
.styled-text .cta button.button.variant-1:hover,
.styled-text .cta button.button.variant-1:focus {
  background-color: #318bda;
  color: #fff;
}
.styled-text .cta a.button.variant-2,
.styled-text .cta button.button.variant-2 {
  color: #ede6de;
}
.styled-text .cta a.button.variant-2:hover,
.styled-text .cta a.button.variant-2:focus,
.styled-text .cta button.button.variant-2:hover,
.styled-text .cta button.button.variant-2:focus {
  background-color: #ede6de;
  color: #542d70;
}
.styled-text .cta a.button.variant-3,
.styled-text .cta button.button.variant-3 {
  color: #ede6de;
}
.styled-text .cta a.button.variant-3:hover,
.styled-text .cta a.button.variant-3:focus,
.styled-text .cta button.button.variant-3:hover,
.styled-text .cta button.button.variant-3:focus {
  background-color: #ede6de;
  color: #318bda;
}

/* Border right – 2px solid #ceb340, padding between border and text */
.styled-text.styled-text-border-right {
  border-right: 2px solid #ceb340;
  padding-right: 1.25em;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

/* Border left – 2px solid #ceb340, padding between border and text */
.styled-text.styled-text-border-left {
  border-left: 2px solid #ceb340;
  padding-left: 1.25em;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

/* Contain border to block height only (don’t stretch in column flex layout) */
