/* Styled Text block – extends default text with variants */

/* Gold variant – background and text color */
.styled-text.styled-text-gold {
  background-color: #ceb340;
  color: #fff;
  padding: 1em 1.25em;
}

.styled-text.styled-text-gold h1,
.styled-text.styled-text-gold h2,
.styled-text.styled-text-gold h3,
.styled-text.styled-text-gold h4,
.styled-text.styled-text-gold h5,
.styled-text.styled-text-gold h6,
.styled-text.styled-text-gold p,
.styled-text.styled-text-gold li {
  color: inherit;
}

.styled-text.styled-text-gold a:any-link {
  color: #fff;
  text-decoration: underline;
}
