/* Text block variants */

/* 1. Gold text */
.text.text-variant-1 {
  color: #ceb340;
}

/* 2. Border right */
.text.text-variant-2 {
  border-right: 2px solid #ceb340;
}

/* 3. Border left */
.text.text-variant-3 {
  border-left: 2px solid #ceb340;
}
